#deb {{ elasticsearch_deb_repo_url }}/{{ elasticsearch_series }}.x/apt/dists {{ ansible_distribution_release | lower }} main
deb {{ elasticsearch_deb_repo_url }}/{{ elasticsearch_series }}.x/apt/dists stable 
