# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ elasticsearch_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{ elasticsearch_node_name }}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ elasticsearch_path_data }}
#
# Path to log files:
#
path.logs: {{ elasticsearch_path_logs }}
path.repo: {{ elasticsearch_path_repo }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
{% if elasticsearch_bootstrap_memory_lock %}
bootstrap.memory_lock: {{ elasticsearch_bootstrap_memory_lock | lower }}
{% else %}
#bootstrap.memory_lock: true
{% endif %}
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: {{ elasticsearch_network_host }}
#
# Set a custom port for HTTP:
#
http.port: {{ elasticsearch_http_port }}
transport.tcp.port: {{ elasticsearch_transport_tcp_port }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when this node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
discovery.seed_hosts: [{% for host in elasticsearch_discovery_seed_hosts %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]
#
# Bootstrap the cluster using an initial set of master-eligible nodes:
#
cluster.initial_master_nodes: [{% for host in elasticsearch_cluster_initial_master_nodes %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]
#
# For more information, consult the discovery and cluster formation module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true
#

xpack.monitoring.collection.enabled: true

# ---------------------------------- Roles -----------------------------------
#

{% if elasticsearch_series_version is version('7.9.0', '<') %}
{%   if inventory_hostname in groups['es_master'] %}
node.master: true
{%   else %}
node.master: false
{%   endif %}
{%   if inventory_hostname in groups['es_data'] %}
node.data: true
{%   else %}
node.data: false
{%   endif %}
{%   if inventory_hostname in groups['es_ingest'] %}
node.ingest: true
{%   else %}
node.ingest: false
{%   endif %}
{% else %}
{%   if inventory_hostname in groups['es_master'] and inventory_hostname not in groups['es_data'] and inventory_hostname not in groups['es_ingest'] %}
node.roles: [ master ]
{%   endif %}
{%   if inventory_hostname in groups['es_master'] and inventory_hostname not in groups['es_data'] and inventory_hostname in groups['es_ingest'] %}
node.roles: [ master,ingest ]
{%   endif %}

{%   if inventory_hostname in groups['es_data'] and inventory_hostname not in groups['es_master'] and inventory_hostname not in groups['es_ingest'] %}
node.roles: [ data ]
{%   endif %}
{%   if inventory_hostname in groups['es_data'] and inventory_hostname not in groups['es_master'] and inventory_hostname in groups['es_ingest'] %}
node.roles: [ data, ingest ]
{%   endif %}

{%   if inventory_hostname in groups['es_ingest'] and inventory_hostname not in groups['es_master'] and inventory_hostname not in groups['es_data'] %}
node.roles: [ ingeset ]
{%   endif %}

{%   if inventory_hostname in groups['es_master'] and inventory_hostname in groups['es_data'] and inventory_hostname not in groups['es_ingest'] %}
node.roles: [ master, data ]
{%   endif %}

{%   if inventory_hostname in groups['es_master'] and inventory_hostname in groups['es_data'] and inventory_hostname in groups['es_ingest'] %}
node.roles: [ master, data, ingest ]
{%   endif %}

{%   if inventory_hostname in groups['es_coordinator'] %}
node.roles: [ ]
{%   endif %}
{% endif %}


{% if elasticsearch_index_refresh_interval %}
index.refresh_interval
{% endif %}

{% if elasticsearch_index_merge_scheduler_max_thread_count %}
index.merge.scheduler.max_thread_count: {{ elasticsearch_index_merge_scheduler_max_thread_count }}
{% endif %}

{% if elasticsearch_indices_memory_index_buffer_size %}
indices.memory.index_buffer_size: {{ elasticsearch_indices_memory_index_buffer_size }}
{% endif %}
{% if elasticsearch_indices_memory_min_index_buffer_size %}
indices.memory.min_index_buffer_size: {{ elasticsearch_indices_memory_min_index_buffer_size }}
{% endif %}
{% if elasticsearch_indices_memory_max_index_buffer_size %}
indices.memory.max_index_buffer_size: {{ elasticsearch_indices_memory_max_index_buffer_size }}
{% endif %}


{% if elasticsearch_index_translog_durability %}
index.translog.durability: {{ elasticsearch_index_translog_durability }}
{% endif %}
{% if elasticsearch_index_translog_sync_interval %}
index.translog.sync_interval: {{ elasticsearch_index_translog_sync_interval }}
{% endif %}
{% if elasticsearch_index_translog_flush_threshold_size %}
index.translog.flush_threshold_size: {{ elasticsearch_index_translog_flush_threshold_size }}
{% endif %}


{% if elasticsearch_discovery_zen_fd_ping_interval and elasticsearch_series == 6 %}
discovery.zen.fd.ping_interval: {{ elasticsearch_discovery_zen_fd_ping_interval }}
{% endif %}
{% if elasticsearch_discovery_zen_fd_ping_timeout and elasticsearch_series == 6 %}
discovery.zen.fd.ping_timeout: {{ elasticsearch_discovery_zen_fd_ping_timeout }}
{% endif %}
{% if elasticsearch_discovery_zen_fd_ping_retries and elasticsearch_series == 6 %}
discovery.zen.fd.ping_retries: {{ elasticsearch_discovery_zen_fd_ping_retries }}
{% endif %}

