[logstash-{{ logstash_series }}]
name=Elastic repository for {{ logstash_series }} packages
baseurl=https://artifacts.elastic.co/packages/{{ logstash_series }}.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
